Repository rhbk/rhbk-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhbk-fbc-component-v4-11-on-pull-request, rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push

Path conditions:
  rhbk-fbc-component-v4-11-on-pull-request: (any of: catalog/v4.11/***) or (any of: .tekton/rhbk-fbc-component-v4-11-pull-request.yaml)
  rhbk-fbc-component-v4-12-on-push: (any of: catalog/v4.12/***) or (any of: .tekton/rhbk-fbc-component-v4-12-push.yaml)
  rhbk-fbc-component-v4-14-on-pull-request: (any of: catalog/v4.14/***) or (any of: .tekton/rhbk-fbc-component-v4-14-pull-request.yaml)
  rhbk-fbc-component-v4-14-on-push: (any of: catalog/v4.14/***) or (any of: .tekton/rhbk-fbc-component-v4-14-push.yaml)
  rhbk-fbc-component-v4-16-on-pull-request: (any of: catalog/v4.16/***) or (any of: .tekton/rhbk-fbc-component-v4-16-pull-request.yaml)
  rhbk-fbc-component-v4-16-on-push: (any of: catalog/v4.16/***) or (any of: .tekton/rhbk-fbc-component-v4-16-push.yaml)
  rhbk-fbc-component-v4-17-on-push: (any of: catalog/v4.17/***) or (any of: .tekton/rhbk-fbc-component-v4-17-push.yaml)

Define mirror set for fips-check task
  .tekton/images-mirror-set.yaml
Due: none

No-op change to trigger rebuild
  catalog/v4.18/rhbk-operator/catalog.yaml
Due: none

Add 26.0.10-opr.1
  catalog/v4.12/rhbk-operator/catalog.yaml
  catalog/v4.13/rhbk-operator/catalog.yaml
  catalog/v4.14/rhbk-operator/catalog.yaml
  catalog/v4.15/rhbk-operator/catalog.yaml
  catalog/v4.16/rhbk-operator/catalog.yaml
  catalog/v4.17/rhbk-operator/catalog.yaml
  catalog/v4.18/rhbk-operator/catalog.yaml
  config.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push

Fix invalid build-image-index refs in older tekton files
  .tekton/rhbk-fbc-component-v4-12-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-12-push.yaml
  .tekton/rhbk-fbc-component-v4-13-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-13-push.yaml
  .tekton/rhbk-fbc-component-v4-14-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-14-push.yaml
  .tekton/rhbk-fbc-component-v4-15-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-15-push.yaml
  .tekton/rhbk-fbc-component-v4-16-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-16-push.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push

Add newly required index-pruning-check task
  .tekton/rhbk-fbc-component-v4-12-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-12-push.yaml
  .tekton/rhbk-fbc-component-v4-13-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-13-push.yaml
  .tekton/rhbk-fbc-component-v4-14-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-14-push.yaml
  .tekton/rhbk-fbc-component-v4-15-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-15-push.yaml
  .tekton/rhbk-fbc-component-v4-16-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-16-push.yaml
  .tekton/rhbk-fbc-component-v4-17-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-17-push.yaml
  .tekton/rhbk-fbc-component-v4-18-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-18-push.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push

Add 24.0.11-opr.1
  catalog/v4.12/rhbk-operator/catalog.yaml
  catalog/v4.13/rhbk-operator/catalog.yaml
  catalog/v4.14/rhbk-operator/catalog.yaml
  catalog/v4.15/rhbk-operator/catalog.yaml
  catalog/v4.16/rhbk-operator/catalog.yaml
  catalog/v4.17/rhbk-operator/catalog.yaml
  catalog/v4.18/rhbk-operator/catalog.yaml
  config.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push

Konflux build pipeline service account migration for rhbk-fbc-component-v4-12 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-12-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-12-push.yaml
Due: rhbk-fbc-component-v4-12-on-push

Konflux build pipeline service account migration for rhbk-fbc-component-v4-13 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-13-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-13-push.yaml
Due: none

Konflux build pipeline service account migration for rhbk-fbc-component-v4-14 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-14-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-14-push.yaml
Due: rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push

Konflux build pipeline service account migration for rhbk-fbc-component-v4-15 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-15-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-15-push.yaml
Due: none

Konflux build pipeline service account migration for rhbk-fbc-component-v4-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-16-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-16-push.yaml
Due: rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push

Konflux build pipeline service account migration for rhbk-fbc-component-v4-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-17-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-17-push.yaml
Due: rhbk-fbc-component-v4-17-on-push

Konflux build pipeline service account migration for rhbk-fbc-component-v4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-18-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-18-push.yaml
Due: none

Apply Service Account change as required by Konflux
  .tekton/rhbk-fbc-component-v4-12-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-12-push.yaml
  .tekton/rhbk-fbc-component-v4-13-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-13-push.yaml
  .tekton/rhbk-fbc-component-v4-14-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-14-push.yaml
  .tekton/rhbk-fbc-component-v4-15-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-15-push.yaml
  .tekton/rhbk-fbc-component-v4-16-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-16-push.yaml
  .tekton/rhbk-fbc-component-v4-17-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-17-push.yaml
  .tekton/rhbk-fbc-component-v4-18-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-18-push.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push

Add OCP 4.19
  catalog/v4.19/Dockerfile
  catalog/v4.19/rhbk-operator/catalog.yaml
  config.yaml
Due: none

Red Hat Konflux update rhbk-fbc-component-v4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rhbk-fbc-component-v4-19-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-19-push.yaml
Due: none

chore(deps): update konflux references
  .tekton/rhbk-fbc-component-v4-12-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-12-push.yaml
  .tekton/rhbk-fbc-component-v4-13-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-13-push.yaml
  .tekton/rhbk-fbc-component-v4-14-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-14-push.yaml
  .tekton/rhbk-fbc-component-v4-15-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-15-push.yaml
  .tekton/rhbk-fbc-component-v4-16-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-16-push.yaml
  .tekton/rhbk-fbc-component-v4-17-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-17-push.yaml
  .tekton/rhbk-fbc-component-v4-18-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-18-push.yaml
  .tekton/rhbk-fbc-component-v4-19-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-19-push.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push

Red Hat Konflux purge rhbk-fbc-component-v4-13
  .tekton/rhbk-fbc-component-v4-13-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-13-push.yaml
Due: none

Red Hat Konflux update rhbk-fbc-component-v4-20
  .tekton/rhbk-fbc-component-v4-20-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-20-push.yaml
Due: none

chore(deps): update konflux references
  .tekton/rhbk-fbc-component-v4-12-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-12-push.yaml
  .tekton/rhbk-fbc-component-v4-14-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-14-push.yaml
  .tekton/rhbk-fbc-component-v4-15-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-15-push.yaml
  .tekton/rhbk-fbc-component-v4-16-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-16-push.yaml
  .tekton/rhbk-fbc-component-v4-17-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-17-push.yaml
  .tekton/rhbk-fbc-component-v4-18-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-18-push.yaml
  .tekton/rhbk-fbc-component-v4-19-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-19-push.yaml
  .tekton/rhbk-fbc-component-v4-20-pull-request.yaml
  .tekton/rhbk-fbc-component-v4-20-push.yaml
Due: rhbk-fbc-component-v4-12-on-push, rhbk-fbc-component-v4-14-on-pull-request, rhbk-fbc-component-v4-14-on-push, rhbk-fbc-component-v4-16-on-pull-request, rhbk-fbc-component-v4-16-on-push, rhbk-fbc-component-v4-17-on-push
